<div id="content-comment">
  <%= image_tag("/image/conference/#{params[:id]}-128x128", {:size => '128x128', :style => 'float: right;'} ) %>
  <fieldset>
    <legend><[table::conference::remark]></legend>
    <table>
      <tr>
        <td><%= text_area_tag('conference[remark]', @conference.remark, {:rows => 5, :cols => 60, :tabindex => 0}) %></td>
      </tr>
    </table>
  </fieldset>
</div>
