<div id="buttons" style="display: none;">
  <a id="cancel-link" href=""><button type="button" id="cancel-button" accesskey="c" onclick="window.clear_tainting()"><[form::cancel]></button></a>
  <button type="button" id="submit-button" accesskey="s" onclick="window.clear_tainting();send_content();"><[form::save]></button>
</div>
