<div id="buttons" style="display: none;">
  <a id="cancel-link" href=""><button type="button" id="cancel-button" onclick="window.clear_tainting()">Cancel</button></a>
  <button type="submit" id="submit-button" onclick="window.clear_tainting();submit();">Save</button>
</div>
