BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Pentabarf//Schedule 0.3//EN
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALDESC;VALUE=TEXT:<%= @conference.acronym -%> Schedule Release <%= @conference.release %>
X-WR-CALNAME;VALUE=TEXT:<%= @conference.acronym -%> Schedule
X-WR-TIMEZONE;VALUE=TEXT:<%= @timezone %>
<%= @content_for_layout -%>
END:VCALENDAR
