<?xml version="1.0"?>
<iCalendar xmlns:xCal="urn:ietf:params:xml:ns:xcal">
  <vcalendar>
    <version>2.0</version>
    <prodid>-//Pentabarf//Schedule 0.3//EN</prodid>
<%= @content_for_layout -%>
  </vcalendar>
</iCalendar>
