Dear <%= @name %>,

Thank you for taking the time to create an account. To enable your account just
click on this link:
<%= @link %>

This link will only work exactly once. After activating you can directly login
at the submission interface.

