<div id="content-comment">
  <%= image_tag( url_for(:controller=>'image',:action=>'conference',:id=>"#{params[:id]}-128x128"), {:size => '128x128', :style => 'float: right;'} ) %>
  <fieldset>
    <legend><%= local('table::conference::remark') %></legend>
    <table>
      <tr>
        <td><%= text_area_tag('conference[remark]', @conference.remark, {:rows => 5, :cols => 60, :tabindex => 0}) %></td>
      </tr>
    </table>
  </fieldset>
</div>
