<div id="content-resources" class="content_tab">
  <fieldset>
    <p><[table::event::resources::introduction]></p>
    <legend><[table::event::resources]></legend>
    <%= text_area_tag('event[resources]', @event.resources, {:tabindex => 0, :rows => 15, :cols => 60}) %>
  </fieldset>
</div>
