<div id="content-resources" class="content_tab">
  <fieldset>
    <legend>Resources</legend>
    <%= text_area_tag('event[resources]', @event.resources, {:tabindex => 0, :rows => 15, :cols => 60}) %>
  </fieldset>
</div>
