address:    localhost
port:       25
domain:     localhost
#user_name:  
#password:
#authentication: login
from:       noreply@pentabarf.org
always_cc:

exception_recipients:
  - foo@example.com

exception_subject: 'Pentabarf Exception'

