<div id="event" class="section">
  <p>We have received your feedback. Thank you very much for your input.</p>
  <p>Return to <a href="<%= @conference.export_base_url + "events/#{@event.event_id}.#{@language.tag}.html" %>"><%= h(@event.title) %></a></p>
</div>
