<?php

  Entity::$database = '';
  Entity::$db_user = '';
  Entity::$db_pass = '';

/* new DB Layer to be used soon
  DB_BASE::$database = '';
  DB_BASE::$db_user = '';
  DB_BASE::$db_password = '';
*/
?>
