jabber_id: pentabarf.jabber.ccc.de
host: localhost
password: 123
port: 5347
conference_id: 1
exception_jids: [astro@spaceboyz.net]
changes_poll_interval: 10
base_url: https://pentabarf.cccv.de/pentabarf/
