
/* BUTTONS */

#buttons {
  position: fixed;
  right: 0;
  bottom: 0;

  padding: 10px;

  background-color: #90acc8;
  border-top: 2px dashed black;
  border-left: 2px dashed black;
  z-index: 3;

  text-align: right;
}

#buttons button {
  font-size: 150%;
}

#remove_button {
  position: fixed;
  right: 15px;
  top: 40px;
  z-index: 5;
}

button {
  border: 2px solid black;  

  display: inline;
  cursor: pointer;

  color: black;
  font-weight: bold;
  background-color: #fff;
  vertical-align: middle;

  padding-left: 3px;
  padding-right: 3px;

  text-align: center;
}

button:hover {
  background-color: #90acc8;
  color: #fff;
}

button:active {
  color: black;
}

/* used for buttons to step through find results */

button.active {
  background-color: #90acc8;
  color: black;
}

button.active:hover {
  color: white;
}

button.attend-button {
  margin: 10px 0px 0px 10px;
}
