
ul.history {
  line-height: 0.2em;
}

ul.event-persons { margin: 0; padding: 0; }
ul.event-persons li { margin: 0; padding: 0; display: inline; }
ul.event-persons li+li:before { content: ", "; }

ul.recipients { margin: 0; padding: 0; display: inline; }
ul.recipients li { margin: 0; padding: 0; display: inline; }
ul.recipients li+li:before { content: ", "; }

ul.advanced_search { list-style: none none inside; margin: 0px; }
ul.advanced_search li { margin: 0px; vertical-align: middle; }
ul.advanced_search li select { margin: 3px 0px; padding: 1px 0px; }

ul.recent_changes_fields { list-style: none; margin: 0; }
ul.recent_changes_fields li { display: inline; }
ul.recent_changes_fields li+li:before { content: ","; margin-right: 0.3em; }

ul.recent_changes_fields span { padding: 0 0.2em; }

ul.recent_changes_fields span.old_value { background-color: mistyrose; }
ul.recent_changes_fields span.new_value { background-color: palegreen; }

