
/* CONTENT TABS */

#tabs {
	position: fixed;

	top: 80px;
	right: 10px;
	left: 160px;

  height: 20px;
  clear: both;

  z-index: 4;
}

#tabs .tab {
  display:  block;
  float: left;

  padding: 5px;

  margin: 0px;
  margin-right: 5px;

  text-align: center;
  background-color: white;

  border: 1px solid black;
  border-top: 2px solid #90acc8;
}

#tabs #tab-all {
  margin-right: 0px;
  float: right;
}

#tabs .tab:hover {
  background-color: #c8d8e8;
}

#tabs .tab.active {
  background-color: #90acc8;
  color: white;
}

#tabs .tab.active:hover {
  color: black;
}

div.content_tab {
/*  display: none; */
}

div.tab-group {
  border: 1px solid #c8d8e8;
  padding: 4px;
  margin: 2px;
}

