
div.js-warning {
  font-size: 1.8em;
  background: red;
  position: fixed;
  z-index: 10;
  right: 5px; 
  margin: 5px; 
  padding: 3px 10px;  
}

div.browser-warning {
  font-size: 1.5em;
  background: red;
  position: fixed;
  z-index: 10;
  left: 5px; 
  top: 5px;
  margin: 5px; 
  padding: 3px 10px;  
}

