
/* RECORD NAVIGATION */

/*

#record_navigation {
  position: fixed;
  top: 10px;
  right: 10px;
}

#record_navigation_position {
  position: fixed;
  top: 20px;
  right: 180px;
  text-align: right;
}

.record_navigator {
  display: block;
  float: left;

  height: 32px;
  width: 32px;

  padding: 0px;
  margin-right: 4px;
  border: 1px solid black;

  color: black;
  background-color: white;
  
  text-align: center;
  vertical-align: middle;
  text-shadow: 3px 3px 5px;
}

.record_navigator span {
  display: none;
}

#record_first {
  background: url(../images/record-first.png) no-repeat center;
}
#record_prev {
  background: url(../images/record-prev.png) no-repeat center;
}
#record_next {
  background: url(../images/record-next.png) no-repeat center;
}
#record_last {
  background: url(../images/record-last.png) no-repeat center;
}
#record_first:hover {
  background: url(../images/record-first-hover.png) no-repeat center;
}
#record_prev:hover {
  background: url(../images/record-prev-hover.png) no-repeat center;
}
#record_next:hover {
  background: url(../images/record-next-hover.png) no-repeat center;
}
#record_last:hover {
  background: url(../images/record-last-hover.png) no-repeat center;
}
#record_first:active {
  background: url(../images/record-first-active.png) no-repeat center;
}
#record_prev:active {
  background: url(../images/record-prev-active.png) no-repeat center;
}
#record_next:active {
  background: url(../images/record-next-active.png) no-repeat center;
}
#record_last:active {
  background: url(../images/record-last-active.png) no-repeat center;
}

div#record_navigation_information {
  clear: both;
  text-align: right;
}

*/
