    <div id="activity">
      <patTemplate:tmpl name="last_user" parse="on">
        <a href="{URL}" title="{NAME}"><span class="user">{LOGIN_NAME}</span></a><span class="time">{TIME}</span>
      </patTemplate:tmpl>
    </div>
