    <div id="activity">
      <patTemplate:tmpl name="last_user" type="condition" conditionvar="last_user.name">
        <patTemplate:sub condition="__empty">
          <span class="user">Eris is with you</span>
        </patTemplate:sub>
        <patTemplate:sub condition="__default">
          <a href="{URL}" title="{NAME}"><span class="user">{LOGIN_NAME}</span></a><span class="time">{TIME}</span>
        </patTemplate:sub>
      </patTemplate:tmpl>
    </div>
