<patTemplate:tmpl name="content">
<script type="text/javascript">
function goto_page(new_page)
{
  nextPage = new_page.options[new_page.selectedIndex].value
  if (nextPage != "")
  {
    document.location.href=nextPage;
  }
}
</script>
<form method="post" name="menu">
  <label>Localization:</label>
  <select name="selectedPage" onChange="goto_page(this.form.selectedPage)">
    <patTemplate:tmpl name="links" src="select.tmpl" parse="on" />
  </select>
  <br/>
  <label>Language:</label>
  <select name="selectedLang" onChange="goto_page(this.form.selectedLang)">
    <patTemplate:tmpl name="language" src="select.tmpl" parse="on" />
  </select>
</form>

<form method="post" action="">
  <fieldset>
    <legend>Change Values</legend>
    <input type="hidden" name="action" value="save_vals" />
    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th>Localized Name</th>
        </tr>
      </thead>
      <tbody>
      <patTemplate:tmpl name="rows">
        <tr>
          <td><input type="hidden" name="{ID_FIELD_NAME}" value="{ID}" /><input type="text" name="{TAG_FIELD_NAME}" value="{TAG}" /></td>
          <td><input type="text" name="{NAME_FIELD_NAME}" value="{NAME}" /></td>
        </tr>
      </patTemplate:tmpl>
      </tbody>
    </table>
    <button type="submit" value="Save Changes">Save Changes</button>
  </fieldset>
</form>

<form method="post" action="">
  <fieldset>
    <legend>New list entry</legend>
    <input type="hidden" name="action" value="add_tag" />
    <input type="text" name="new_tag"  />
    <button type="submit" value="Create new list entry">Add tag to list</button>
  </fieldset>
</form>


</patTemplate:tmpl>
