    <div class="object_navigation">
      <form id="form_event_selector" class="menu-item" method="post" action="{VIEW_URL}">
        <select name="select_event" onchange="submit()">
          <patTemplate:tmpl name="event_list" src="select.tmpl" parse="on" />
        </select>
      </form>
    </div>

