<patTemplate:tmpl name="main">
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Event feedback succeeded</title>
  </head>
  <body id="body">
    <p>
    We have received your feedback. Thank you very much for your input.
    </p>
    <p>
    Return to <a href="http://www.ccc.de/congress/2004/fahrplan/event/{EVENT_ID}">{EVENT_TITLE}</event>.
    </p>
  </body>
</html>
</patTemplate:tmpl>
