<patTemplate:tmpl name="content">
    <div class="index section">
      <h1>{CONFERENCE_TITLE}</h1>
      <ul>
<patTemplate:link src="days" />
        <li><a href="events.{LANG}.html"><[events]></a></li>
        <li><a href="speakers.{LANG}.html"><[speakers]></a></li>
<patTemplate:tmpl name="ics_file">
        <li><a href="fahrplan.ics">iCalender format</a></li>
</patTemplate:tmpl>
      </ul>
    </div>
</patTemplate:tmpl>
