<patTemplate:tmpl name="content">
  <p class="intro"><strong>{CONFERENCE_TITLE}</strong><br/><em><[lectures-and-workshops]></em></p>

  <div id="event-index" class="section">

  <table class="event-index">
    <thead>
      <tr>
        <th class="event"><[event]></th>
        <th class="speaker"><[speakers]></th>
      </tr>
    </thead>
    <tbody>
<patTemplate:tmpl name="event">
      <tr>
        <td class="event">
          <a href="{EVENT_URL}"><img src="{EVENT_IMAGE_URL}" class="event-image" alt="" /></a>
          <p class="title"><a href="{EVENT_URL}">{EVENT_TITLE}</a></p>
          <p class="subtitle"><a href="{EVENT_URL}">{EVENT_SUBTITLE}</a></p>
          <p>
            <a href="{EVENT_URL}">
              <strong><[event-type]></strong>: <span class="type">{EVENT_TYPE}</span><br />
              <strong><[track]></strong>: <span class="track">{EVENT_TRACK}</span><br />
              <strong><[language]></strong>: <span class="language">{EVENT_LANGUAGE}</span>
            </a>
          </p>
        </td>
        <td class="speakers">
          <ul class="speakers">
<patTemplate:tmpl name="speaker" varscope="content" type="simplecondition" requiredvars="speaker.speaker_url"><li><a href="{SPEAKER_URL}">{SPEAKER_NAME}</a></li></patTemplate:tmpl>
          </ul>
        </td>
      </tr>
</patTemplate:tmpl>
    <tbody>
  </table>

  </div>
</patTemplate:tmpl>
