<patTemplate:tmpl name="main" modifier="general" >
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>{TITLE}</title>
    <link rel="stylesheet" href="{CSS_FILE}" title="Fahrplan View" type="text/css" />
    <link rel="alternate" lang="{ALT_LANG}" hreflang="{ALT_LANG}" href="{DOC_NAME}.{ALT_LANG}.html" title="{TITLE}" type="text/html" />
    <meta name="generator" content="Pentabarf" />
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><a href="{EXPORT_BASE_URL}index.{LANG}.html"><span class="normal">Index</span></a></li>
<patTemplate:tmpl name="days" varscope="content">
        <li><a href="{EXPORT_BASE_URL}day_{DAY}.{LANG}.html"><span class="normal"><[day]> {DAY}</span></a></li>
</patTemplate:tmpl>
        <li><a href="{EXPORT_BASE_URL}events.{LANG}.html"><span class="normal"><[events]></span></a></li>
        <li><a href="{EXPORT_BASE_URL}speakers.{LANG}.html"><span class="normal"><[speakers]></span></a></li>
      </ul>
    </div>
         
    <div id="content">
      <p class="release">{CONFERENCE_ACRONYM} <[schedule]> <[release]> {RELEASE}</p>
      <patTemplate:link src="content" />
    </div>
  </body>
</html>
</patTemplate:tmpl>
