<div id="buttons" style="display:none;">
  <a id="cancel-link" href=""><button id="cancel-button" type="button" name="revert" value="Revert" title="Cancel changes" accesskey="c" onClick="window.clear_tainting()">Cancel</button></a>
  <button id="save-button" type="button" name="save" value="Save" title="Save all changes" accesskey="s" onClick="window.clear_tainting();window.send_content()">Save</button>
</div>
