<div id="record_navigation">
  <script type="text/javascript">
    var record_first_url = "{BASE_URL}{URL_FIRST}";
    var record_prev_url = "{BASE_URL}{URL_PREV}";
    var record_next_url = "{BASE_URL}{URL_NEXT}";
    var record_last_url = "{BASE_URL}{URL_LAST}";
  </script>
  <div id="record_navigator_group">
    <a accesskey="h" id="record_first" class="record_navigator" href="{BASE_URL}{URL_FIRST}" title="Go To First Record"><span>&#x21E4;</span></a>
    <a accesskey="j" id="record_prev" class="record_navigator" href="{BASE_URL}{URL_PREV}" title="Go To Previous Record"><span>&#x2190;</span></a>
    <a accesskey="k" id="record_next" class="record_navigator" href="{BASE_URL}{URL_NEXT}" title="Go To Next Record"><span>&#x2192;</span></a>
    <a accesskey="l" id="record_last" class="record_navigator" href="{BASE_URL}{URL_LAST}" title="Go To Last Record"><span>&#x21E5;</span></a>
  </div>
</div>
<div id="record_navigation_position">
    {CURRENT_ITEM}/{NUM_ITEMS}&nbsp;({TOTAL_ITEMS})
</div>
