<patTemplate:tmpl name="content">
  <script type="text/javascript" src="{BASE_URL}js/create_element.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/new_element.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/add_conference_track.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/add_room.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/add_link.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/add_conference_person.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/tainted.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/watch.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/request.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/jscalendar/calendar.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/jscalendar/calendar-setup.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/jscalendar/lang/calendar-en.js"></script>

  <patTemplate:tmpl name="watch-button" type="simplecondition" requiredvars="watch_button">
    <div id="watch">
      <button id="watch-button-conference-{CONFERENCE_ID}" onClick="window.watch('conference', {CONFERENCE_ID});" title="Put this conference on your watch list" accesskey="w">{WATCH_BUTTON}</button>
    </div>
  </patTemplate:tmpl>

  <script type="text/javascript">
  function send_content()
  {
    if (!document.getElementsByName('acronym')[0].value ||
        !document.getElementsByName('title')[0].value ||
        !document.getElementsByName('start_date')[0].value
        )
    {
      alert('Die folgenden Felder sind Pflichtfelder: Acronym, Title, Start Date');
    } else {
      document.forms['form_content'].submit();
    }
  }
  </script>

  <div id="object-image">
    <img src="{BASE_URL}images/icon-conference-64x64.png" class="object-image" alt="" />
  </div>

<form id="form_content" method="post" action="{VIEW_URL}" enctype="multipart/form-data">

  <patTemplate:tmpl name="modification_buttons" src="modification_buttons.tmpl" parse="on" />

  <input type="hidden" name="save" value="save" />
  <input type="hidden" name="timestamp" value="{TIMESTAMP}" />
  <input type="hidden" name="conference_id" value="{CONFERENCE_ID}" />


  <div id="comment">
    <img src="{IMAGE_URL}" class="huge" style="float: right;" alt="" />
    <fieldset>
      <legend>Notes</legend>
      <table>
        <tr>
          <td><textarea rows="5" cols="60" name="remark" tabindex="0">{REMARK}</textarea></td>
        </tr>
      </table>
    </fieldset>
  </div>


  <div id="content-general" class="content_tab">
    <fieldset>
      <legend>General</legend>
      <table>
        <tr>
          <td><label>Acronym</label></td>
          <td>
            <input type="text" name="acronym" value="{ACRONYM}" />
          </td>
        </tr>
        <tr>
          <td><label>Title</label></td>
          <td>
            <input type="text" name="title" value="{TITLE}" size="60" />
          </td>
        </tr>
        <tr>
          <td><label>Subtitle</label></td>
          <td>
            <input type="text" name="subtitle" value="{SUBTITLE}" size="60" />
          </td>
        </tr>
        <tr>
          <td><label>Start Date</label></td>
          <td>
            <input type="text" id="start_date" name="start_date" value="{START_DATE}" />
            <button type="button" id="calendar_start_date">...</button>
            <script type="text/javascript">
              Calendar.setup({
                inputField   :  "start_date",
                ifFormat     :  "%Y-%m-%d",
                button       :  "calendar_start_date",
                showOthers   :  true,
                singleClick  :  false
              });
            </script>
          </td>
        </tr>
        <tr>
          <td><label>Duration</label></td>
          <td>
            <select name="days">
              <patTemplate:tmpl name="days" src="select.tmpl" parse="on" />
            </select> Days
          </td>
        </tr>
        <tr>
          <td><label>Venue</label></td>
          <td>
            <input type="text" name="venue" value="{VENUE}" size="60" />
          </td>
        </tr>
        <tr>
          <td><label>City</label></td>
          <td>
            <input type="text" name="city" value="{CITY}" size="40" />
          </td>
        </tr>
        <tr>
          <td><label>Country</label></td>
          <td>
            <select name="country_id">
              <patTemplate:tmpl name="country" src="select.tmpl" parse="on" />
            </select>
          </td>
        </tr>
        <tr>
          <td><label>Time Zone</label></td>
          <td>
            <select name="time_zone_id">
              <patTemplate:tmpl name="time_zone" src="select.tmpl" parse="on" />
            </select>
          </td>
        </tr>
        <tr>
          <td><label>Currency</label></td>
          <td>
            <select name="currency_id">
              <patTemplate:tmpl name="currency" src="select.tmpl" parse="on" />
            </select>
          </td>
        </tr>
        <tr>
          <td><label>Primary Language</label></td>
          <td>
            <select name="primary_language_id">
              <patTemplate:tmpl name="primary_language" src="select.tmpl" parse="on" />
            </select>
          </td>
        </tr>
        <tr>
          <td><label>Secondary Language</label></td>
          <td>
            <select name="secondary_language_id">
              <patTemplate:tmpl name="secondary_language" src="select.tmpl" parse="on" />
           </select>
          </td>
        </tr>
        <tr>
          <td><label>Timeslot Duration</label></td>
          <td>
            <select name="timeslot_duration">
              <patTemplate:tmpl name="timeslot_duration" src="select.tmpl" parse="on" />
            </select>
          </td>
        </tr>
        <tr>
          <td><label>Maximum Timeslots per Event</label></td>
          <td>
            <select name="max_timeslot_duration">
              <patTemplate:tmpl name="max_timeslot_duration" src="select.tmpl" parse="on" />
            </select>
          </td>
        </tr>
        <tr>
          <td><label>Day Change</label></td>
          <td>
            <select name="day_change">
              <patTemplate:tmpl name="day_change" src="select.tmpl" parse="on" />
           </select>
          </td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Links</legend>
      <table id="link_table" class="hidden">
        <thead>
          <tr>
            <th/>
            <th>Link Type</th>
            <th>URL</th>
            <th>Title</th>
            <th>Comment</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody id="link_table_body">
        </tbody>
      </table>
      <button type="button" name="add_links" value="Add Links" title="Add a new link to list of links" tabindex="0" onClick="window.add_link();">Add Link</button>
    </fieldset>

    <fieldset>
      <legend>Logo</legend>
      (128x128)
      <input type="file" name="image" /><br />
      <input id="image_delete" type="checkbox" name="image_delete" value="1" tabindex="0" /><label for="image_delete">Bild l&ouml;schen</label>
    </fieldset>

  </div>

  <div id="content-persons" class="content_tab">
    <fieldset>
      <legend>Teams</legend>
      <table id="team_table" class="hidden">
        <thead>
          <tr>
            <th>Team</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody id="team_table_body">
        </tbody>
      </table>
     <button type="button" name="add_team" value="Add Team" title="Add a new team" tabindex="0" onClick="window.add_team();">Add Team</button>
   </fieldset>
   
    <fieldset>
      <legend>Persons</legend>
      <table id="person_table" class="hidden">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Role</th>
            <th>Remark</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody id="person_table_body">
        </tbody>
      </table>
     <button type="button" name="add_room" value="Add Room" title="Add a new person to the list of persons" tabindex="0" onClick="window.add_conference_person();">Add Person</button>
   </fieldset>
 </div>

  <div id="content-rooms" class="content_tab">
    <fieldset>
      <legend>Rooms</legend>
      <table id="room_table" class="hidden">
        <thead>
          <tr>
            <th>Short Name</th>
            <th>Order</th>
            <th>public</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody id="room_table_body">
        </tbody>
      </table>
     <button type="button" name="add_room" value="Add Room" title="Add a new room to list of rooms" tabindex="0" onClick="window.add_room();">Add Room</button>
   </fieldset>
 </div>

  <div id="content-events" class="content_tab">
    <fieldset>
      <legend>Events</legend>
      <patTemplate:tmpl name="event_list_table" type="simplecondition" requiredvars="event_list_elements.event_id">
      <table>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Watch</th>
        </tr>
      <patTemplate:tmpl name="event_list_elements">
        <tr>
          <td><a href="{URL}" title="Go to '{TITLE}'">
            <img src="{IMAGE_URL}" class="small" alt="" /></a>
          </td>
          <td><a href="{URL}"><strong>{TITLE}</strong><br/><em>{SUBTITLE}</em></a></td>
          <td><button type="button" id="watch-button-event-{EVENT_ID}" onClick="window.watch('event', {EVENT_ID});">{WATCH_BUTTON}</button></td>
        </tr>
      </patTemplate:tmpl>
    </table>
    </patTemplate:tmpl>
    </fieldset>
  </div>

  <div id="content-tracks" class="content_tab">
  <fieldset>
    <legend>Tracks</legend>
      <table id="conference_track_table" class="hidden">
        <thead>
          <tr>
            <th>Track</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody id="conference_track_table_body">
        </tbody>
      </table>
     <button type="button" name="add_conference_track" value="Add Track" title="Add a new track to list of tracks" tabindex="0" onClick="window.add_conference_track();">Add Track</button>
   </fieldset>
 </div>

  <div id="content-export" class="content_tab">
  <fieldset>
    <legend>Export</legend>
      <table>
        <caption>
          <a href="{BASE_URL}pentabarf/html/conference/{CONFERENCE_ID}"><button type="button">HTML Export</button></a>
          &nbsp;
          <a href="{BASE_URL}pentabarf/ical/conference/{CONFERENCE_ID}"><button type="button">iCal Export</button></a>
        </caption>
        <tr>
          <td><label>Release</label></td>
          <td>
            <input type="text" name="release" value="{RELEASE}" size="60" />
          </td>
        </tr>
        <tr>
          <td><label>Export Base URL</label></td>
          <td>
            <input type="text" name="export_base_url" value="{EXPORT_BASE_URL}" size="60" />
          </td>
        </tr>
        <tr>
          <td><label>Feedback Base URL</label></td>
          <td>
            <input type="text" name="feedback_base_url" value="{FEEDBACK_BASE_URL}" size="60" />
          </td>
        </tr>
        <tr>
          <td><label>CSS File</label></td>
          <td>
            <input type="text" name="export_css_file" value="{EXPORT_CSS_FILE}" size="60" />
          </td>
        </tr>
      </table>
   </fieldset>
 </div>

    <div class="content_tab" id="content-feedback">
      <fieldset>
      <legend>Event Feedback Summary</legend>
        <table>
          <thead>
            <tr>
              <th>Category</th>
              <th colspan="2">Rating</th>
              <th>Total votes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>Participant Knowledge</label></td>
              <td class="rating-bar">
                <span class="negative p{PARTICIPANT_KNOWLEDGE_BAR_NEGATIVE}">{PARTICIPANT_KNOWLEDGE_VALUE_NEGATIVE}</span>
              </td>
              <td class="rating-bar">
                <span class="positive p{PARTICIPANT_KNOWLEDGE_BAR_POSITIVE}">{PARTICIPANT_KNOWLEDGE_VALUE_POSITIVE}</span>
              </td>
              <td>{PARTICIPANT_KNOWLEDGE_VOTE_COUNT}</td>
            </tr>
            <tr>
              <td><label>Topic Importance</label></td>
              <td class="rating-bar">
                <span class="negative p{TOPIC_IMPORTANCE_BAR_NEGATIVE}">{TOPIC_IMPORTANCE_VALUE_NEGATIVE}</span>
              </td>
              <td class="rating-bar">
                <span class="positive p{TOPIC_IMPORTANCE_BAR_POSITIVE}">{TOPIC_IMPORTANCE_VALUE_POSITIVE}</span>
              </td>
              <td>{TOPIC_IMPORTANCE_VOTE_COUNT}</td>
            </tr>
            <tr>
              <td><label>Content Quality</label></td>
              <td class="rating-bar">
                <span class="negative p{CONTENT_QUALITY_BAR_NEGATIVE}">{CONTENT_QUALITY_VALUE_NEGATIVE}</span>
              </td>
              <td class="rating-bar">
                <span class="positive p{CONTENT_QUALITY_BAR_POSITIVE}">{CONTENT_QUALITY_VALUE_POSITIVE}</span>
              </td>
              <td>{CONTENT_QUALITY_VOTE_COUNT}</td>
            </tr>
            <tr>
              <td><label>Presentation Quality</label></td>
              <td class="rating-bar">
                <span class="negative p{PRESENTATION_QUALITY_BAR_NEGATIVE}">{PRESENTATION_QUALITY_VALUE_NEGATIVE}</span>
              </td>
              <td class="rating-bar">
                <span class="positive p{PRESENTATION_QUALITY_BAR_POSITIVE}">{PRESENTATION_QUALITY_VALUE_POSITIVE}</span>
              </td>
              <td>{PRESENTATION_QUALITY_VOTE_COUNT}</td>
            </tr>
            <tr>
              <td><label>Audience Involvement</label></td>
              <td class="rating-bar">
                <span class="negative p{AUDIENCE_INVOLVEMENT_BAR_NEGATIVE}">{AUDIENCE_INVOLVEMENT_VALUE_NEGATIVE}</span>
              </td>
              <td class="rating-bar">
                <span class="positive p{AUDIENCE_INVOLVEMENT_BAR_POSITIVE}">{AUDIENCE_INVOLVEMENT_VALUE_POSITIVE}</span>
              </td>
              <td>{AUDIENCE_INVOLVEMENT_VOTE_COUNT}</td>
            </tr>
          </tbody>
        </table>
      </fieldset>
  
    </div>

  </form>

</patTemplate:tmpl>
