<patTemplate:tmpl name="report">

  <patTemplate:tmpl name="fahrplan" type="simplecondition" requiredvars="schedule.title">
    <a href="{BASE_URL}pentabarf/xml/fahrplan/conference/{CURRENT_CONFERENCE_ID}"><button type="button">Get Report as XML</button></a>
    <a href="{BASE_URL}pentabarf/xml/fahrplan/conference/{CURRENT_CONFERENCE_ID}/with_images"><button type="button">Get Report as XML with Images</button></a>
    <table id="result" class="sortable">
      <thead>
        <tr>
          <th>Day</th>
          <th>Room</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Track</th>
          <th/>
          <th>Event</th>
          <th>State</th>
          <th>public</th>
          <th>Persons</th>
        </tr>
      </thead>
    <patTemplate:tmpl name="schedule">
      <tbody>
        <tr>
          <td><a href="{URL}">{DAY}</a></td>
          <td><a href="{URL}">{ROOM}</a></td>
          <td><a href="{URL}">{TIME}</a></td>
          <td><a href="{URL}">{DURATION}</a></td>
          <td><a href="{URL}">{TRACK}</a></td>
          <td><a href="{URL}"><img class="small" src="{IMAGE_URL}"/></a></td>
          <td><a href="{URL}"><strong>{TITLE}</strong><br /><em>{SUBTITLE}</em></a></td>
          <td><a href="{URL}">{STATE}</a></td>
          <td><a href="{URL}">{PUBLIC}</a></td>
          <td><ul>
          <patTemplate:tmpl name="person" type="simplecondition" requiredvars="PERSON">
            <li><a href="{PERSON_URL}">{PERSON}</a></li>
          </patTemplate:tmpl>
          </ul></td>
        </tr>
      </tbody>
    </patTemplate:tmpl>

  </patTemplate:tmpl>

</patTemplate:tmpl>
