<patTemplate:tmpl name="content">

  <div id="object-image">
    <img src="{BASE_URL}images/icon-clock-64x64.png" class="object-image" />
  </div>

  <patTemplate:tmpl type="simplecondition" requiredvars="last_changes.text">
  <table id="recent-changes" class="sortable">
    <thead>
      <tr>
        <th></th>
        <th>Title / Name</th>
        <th>Changed by</th>
        <th>Date and time</th>
      </tr>
    </thead>
    <tbody>
      <patTemplate:tmpl name="last_changes">
        <tr>
          <td><a href="{URL}"><img src="{IMAGE_URL}" class="small" /></a></td>
          <td><a href="{URL}">{TEXT}</a></td>
          <td><a href="{CHANGER_URL}">{CHANGED_BY}</a></td>
          <td><a href="{URL}">{CHANGED_WHEN}</a></td>
        </tr>
      </patTemplate:tmpl>
    </tbody>
  </table>
  </patTemplate:tmpl>
</patTemplate:tmpl>
