<patTemplate:tmpl name="report">

  <div id="object-image">
    <img src="{BASE_URL}images/icon-list-64x64.png" class="object-image" />
  </div>

  <div id="content-events">
    <patTemplate:tmpl name="report-table" type="simplecondition" requiredvars="report-list.name">
    <table id="result" class="sortable">
      <thead>
        <tr>
          <th/>
          <th>Name</th>
          <th>Fee</th>
          <th>Travel Cost</th>
          <th>Accommodation Cost</th>
          <th>Summe</th>
        </tr>
      </thead>
      <tbody>
        <patTemplate:tmpl name="report-list">
          <tr>
            <td><a href="{URL}"><img src="{IMAGE_URL}" class="small" title="{TITLE}" /></a></td>
            <td><a href="{URL}">{NAME}</a></td>
            <td class="money"><a href="{URL}">{FEE}</a></td>
            <td class="money"><a href="{URL}">{TRAVEL_COST}</a></td>
            <td class="money"><a href="{URL}">{ACCOMMODATION_COST}</a></td>
            <td class="money"><a href="{URL}">{SUM}</a></td>
          </tr>
        </patTemplate:tmpl>
      </tbody>
      <tfoot>
          <tr>
            <td colspan="2" />
            <td class="money"><strong>{SUM_FEE}</strong></td>
            <td class="money"><strong>{SUM_TRAVEL_COST}</strong></td>
            <td class="money"><strong>{SUM_ACCOMMODATION_COST}</strong></td>
            <td class="money"><strong>{TOTAL_SUM}</strong></td>
          </tr>
      </tfoot>
    </table>
    </patTemplate:tmpl>
  </div>
</patTemplate:tmpl>
