<patTemplate:tmpl name="content">
  <script type="text/javascript" src="{BASE_URL}js/watch.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/request.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/search.js"></script>

  <div id="object-image">
    <img src="{BASE_URL}images/icon-find-person-64x64.png" class="object-image" />
  </div>

  <div id="content-simple">

    <fieldset>
      <legend>Find</legend>
      <form method="post" action="">
        <input type="text" name="find_persons" value="{FIND}" size="50" />
        <button type="submit">Show Matching Persons</button>
      </form>
    </fieldset>

  </div>

  <div id="content-advanced">
    <fieldset>
    <legend>Find</legend>
      <form method="post" action="">
        <div id="search_elements">
        </div>
        <button type="submit">Show Matching Persons</button>
      </form>
    </fieldset>
  </div>

<script type="text/javascript">

var criteria = new Array();
criteria[0] = new Array();
criteria[0]["name"] = "Name";
criteria[0]["value"] = "name";
criteria[0]["type"] = "text";
criteria[1] = new Array();
criteria[1]["name"] = "Description";
criteria[1]["value"] = "description";
criteria[1]["type"] = "text";
criteria[2] = new Array();
criteria[2]["name"] = "Keyword";
criteria[2]["value"] = "keyword";
criteria[2]["type"] = "keyword";
criteria[3] = new Array();
criteria[3]["name"] = "Phone Number";
criteria[3]["value"] = "phone";
criteria[3]["type"] = "text";

var attribute = new Array();
attribute["text"] = new Array();
attribute["text"][0] = "contains";
// attribute["text"][1] = "starts with";
// attribute["text"][2] = "ends with";
// attribute["text"][3] = "contains not";

/* Keyword */
attribute["keyword"] = new Array();
attribute["keyword"][0] = "is";
attribute["keyword"][1] = "is not";

var valuelists = new Array();

</script>


<patTemplate:tmpl name="result">
  <fieldset>
    <legend>{RESULT}</legend>
    <patTemplate:tmpl name="result_list" type="simplecondition" requiredvars="result_element.person_id">
      <table id="result" class="sortable">
        <tr>
          <th></th>
          <th>Name</th>
          <th></th>
        </tr>
      <patTemplate:tmpl name="result_element">
        <tr>
          <td>
            <a href="{URL}">
              <img src="{IMAGE_URL}" height="32" width="32" title="{NAME}" />
            </a>
          </td>
          <td><a href="{URL}">{NAME}</a></td>
          <td><button id="watch-button-person-{PERSON_ID}" onClick="window.watch('person', {PERSON_ID});" title="Put this person on your watch list">{BUTTON_WATCH}</button></td>
        </tr>
      </patTemplate:tmpl>
    </table>
  </patTemplate:tmpl>
</patTemplate:tmpl>
</patTemplate:tmpl>
