<patTemplate:tmpl name="report">

  <div id="object-image">
    <img src="{BASE_URL}images/icon-list-64x64.png" class="object-image" />
  </div>

  <div id="content-events">
    <patTemplate:tmpl varscope="report" type="simplecondition" requiredvars="report-list.name">
    <table id="result" class="sortable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th/>
          <th>Name</th>
          <th>Type</th>
          <th>from</th>
          <th>to</th>
          <th>transport</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <patTemplate:tmpl name="report-list">
          <tr>
            <td><a href="{URL}">{DATE}</a></td>
            <td><a href="{URL}">{TIME}</a></td>
            <td><a href="{URL}"><img src="{IMAGE_URL}" class="small" title="{NAME}" /></a></td>
            <td><a href="{URL}">{NAME}</a></td>
            <td><a href="{URL}">{TYPE}</a></td>
            <td><a href="{URL}">{FROM}</a></td>
            <td><a href="{URL}">{TO}</a></td>
            <td><a href="{URL}">{TRANSPORT}</a></td>
            <td><a href="{URL}">{NUMBER}</a></td>
          </tr>
        </patTemplate:tmpl>
      </tbody>
    </table>
    </patTemplate:tmpl>
  </div>
</patTemplate:tmpl>
