<patTemplate:tmpl name="report">

  <div id="object-image">
    <img src="{BASE_URL}images/icon-list-64x64.png" class="object-image" />
  </div>

  <form id="form_status_selector" class="menu-text" method="post" action="{VIEW_URL}">
    <input type="hidden" name="change_status" value="change_status" />
    View status:
    <select name="status_selector" onChange="submit()">
      <patTemplate:tmpl name="status_selector" src="select.tmpl" parse="on" />
    </select>
  </form>


  <div id="content-events">
    <p>{NUMBER} events found. Accumulated Timeslot Duration: {DURATION}</p>
    <patTemplate:tmpl name="report-table" type="simplecondition" requiredvars="report_list.title">
    <table id="result" class="sortable">
      <thead>
        <tr>
          <th/>
          <th>Title</th>
          <th>Type</th>
          <th>Track</th>
          <th>Language</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <patTemplate:tmpl name="report_list">
          <tr>
            <td><a href="{URL}"><img src="{IMAGE_URL}" class="small" title="{TITLE}" /></a></td>
            <td><a href="{URL}"><strong>{TITLE}</strong><br /><em>{SUBTITLE}</em></a></td>
            <td><a href="{URL}">{EVENT_TYPE}</a></td>
            <td><a href="{URL}">{TRACK}</a></td>
            <td><a href="{URL}">{LANGUAGE}</a></td>
            <td><a href="{URL}">{DURATION}</a></td>
          </tr>
        </patTemplate:tmpl>
      </tbody>
    </table>
    </patTemplate:tmpl>
  </div>
</patTemplate:tmpl>
