<patTemplate:tmpl name="content">
  <script type="text/javascript" src="{BASE_URL}js/watch.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/request.js"></script>
  <script type="text/javascript" src="{BASE_URL}js/search.js"></script>

  <div id="object-image">
    <img src="{BASE_URL}images/icon-find-event-64x64.png" class="object-image" />
  </div>

  <div id="content-simple">
    <fieldset>
    <legend>Find</legend>
      <form method="post" action="">
        <input type="text" name="find_events" value="{FIND}" size="50" />
        <button type="submit">Show Matching Events</button>
      </form>
    </fieldset>
  </div>

  <div id="content-advanced">
    <fieldset>
    <legend>Find</legend>
      <form method="post" action="">
        <div id="search_elements">
        </div>
        <button type="submit">Show Matching Events</button>
      </form>
    </fieldset>
  </div>

<script type="text/javascript">

var criteria = new Array();
criteria[0] = new Array();
criteria[0]["name"] = "Title";
criteria[0]["value"] = "title";
criteria[0]["type"] = "text";
criteria[1] = new Array();
criteria[1]["name"] = "Status";
criteria[1]["value"] = "status";
criteria[1]["type"] = "keyword";
criteria[2] = new Array();
criteria[2]["name"] = "Sprache";
criteria[2]["value"] = "language";
criteria[2]["type"] = "keyword";
criteria[3] = new Array();
criteria[3]["name"] = "Track";
criteria[3]["value"] = "track";
criteria[3]["type"] = "keyword";
criteria[4] = new Array();
criteria[4]["name"] = "Event-Typ";
criteria[4]["value"] = "type";
criteria[4]["type"] = "keyword";
criteria[5] = new Array();
criteria[5]["name"] = "Description";
criteria[5]["value"] = "description";
criteria[5]["type"] = "text";
criteria[6] = new Array();
criteria[6]["name"] = "Keyword";
criteria[6]["value"] = "keyword";
criteria[6]["type"] = "keyword";
criteria[7] = new Array();
criteria[7]["name"] = "Coordinator";
criteria[7]["value"] = "coordinator";
criteria[7]["type"] = "keyword";
criteria[8] = new Array();
criteria[8]["name"] = "Speaker";
criteria[8]["value"] = "speaker";
criteria[8]["type"] = "keyword";
criteria[9] = new Array();
criteria[9]["name"] = "Duration";
criteria[9]["value"] = "duration";
criteria[9]["type"] = "keyword";
criteria[10] = new Array();
criteria[10]["name"] = "Team";
criteria[10]["value"] = "team";
criteria[10]["type"] = "keyword";
criteria[11] = new Array();
criteria[11]["name"] = "Room";
criteria[11]["value"] = "room";
criteria[11]["type"] = "keyword";
criteria[12] = new Array();
criteria[12]["name"] = "Day";
criteria[12]["value"] = "day";
criteria[12]["type"] = "keyword";
criteria[13] = new Array();
criteria[13]["name"] = "Attachment-Typ";
criteria[13]["value"] = "attachment";
criteria[13]["type"] = "keyword";

var attribute = new Array();
attribute["text"] = new Array();
attribute["text"][0] = "contains";
// attribute["text"][1] = "starts with";
// attribute["text"][2] = "ends with";
// attribute["text"][3] = "contains not";

/* Keyword */
attribute["keyword"] = new Array();
attribute["keyword"][0] = "is";
attribute["keyword"][1] = "is not";

var valuelists = new Array();

</script>

  
<patTemplate:tmpl name="result">
  <fieldset>
    <legend>{RESULT}</legend>
    <patTemplate:tmpl name="result_list" type="simplecondition" requiredvars="result_element.event_id">
      <a href="{BASE_URL}pentabarf/xml/event-search/"><button type="button">Get Result as XML</button></a>
      <p>Timeslot sum: {TIMESLOT_SUM}</p>
      <table id="result" class="sortable">
        <tr>
          <th/>
          <th>Track</th>
          <th>Title/Subtitle</th>
          <th>Status</th>
          <th>Room</th>
          <th>Day</th>
          <th>Time</th>
          <th>Persons</th>
          <th>Watch</th>
        </tr>
      <patTemplate:tmpl name="result_element">
        <tr>
          <td><a href="{URL}"><img src="{IMAGE_URL}" height="32" width="32" title="{TITLE}" /></a></td>
          <td><a href="{URL}">{TRACK}</a></td>
          <td><a href="{URL}"><strong>{TITLE}</strong><br /><em>{SUBTITLE}</em></a></td>
          <td><a href="{URL}">{STATUS}</a></td>
          <td><a href="{URL}">{ROOM}</a></td>
          <td><a href="{URL}">{DAY}</a></td>
          <td><a href="{URL}">{TIME}</a></td>
          <td>
            <ul>
              <patTemplate:tmpl name="person" type="simplecondition" requiredvars="person">
                <li><a href="{PERSON_URL}">{PERSON}</a></li>
              </patTemplate:tmpl>
            <ul>
          </td>
          <td><button id="watch-button-event-{EVENT_ID}" onClick="window.watch('event', {EVENT_ID});">{WATCH_BUTTON}</button></td>
        </tr>
      </patTemplate:tmpl>
    </table>
  </patTemplate:tmpl>
</patTemplate:tmpl>
</patTemplate:tmpl>
