<% unless @conflicts.nil? %>
<fieldset class="conflicts">
  <legend>Conflicts</legend>
  <% @conflicts.each do | c | %>
    <span>
      <a href="<%= url_for(:action=>:event,:id=>c.event_id1) %>"><%= h(c.title1) %></a>
      conflicts with
      <a href="<%= url_for(:action=>:event,:id=>c.event_id2) %>"><%= h(c.title2) %></a>
    </span><br/>
  <% end %>
</fieldset>
<% end %>

